# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# --- Basic Information ---
title: "Where Paths Cross"
email: "bfmhno3@gmail.com"
description: >- # this means to ignore newlines until "baseurl:"
  A blog about mathematics, algorithms, and embeded systems.
url: "https://bfmhno3.github.io"
repository: "bfmhno3/bfmhno3.github.io"
# ---

# --- Theme & Interface ---
minimal_mistakes_skin: "dark"
locale: "en-US"
search: true
# ---

twitter_username: username
github_username: bfmhno3

# --- Build settings ---
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
timezone: "Asia/Shanghai"
# ---

# --- Outputting ---
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-spaceship

# --- Author & Footer ---
author:
  name   : "bfmhno3"
  avatar : "/assets/images/avatar.svg"
  bio    : "Third-year university student majoring in energy engineering. Exploring the world of code and mathematics."
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/bfmhno3"
    - label: "Gitee"
      icon: "fa-solid fa-g"
      url: "https://gitee.com/bfmhno3"
    - label: "cnblogs"
      icon: "fa-solid fa-blog"
      url: "https://www.cnblogs.com/bfmhno3"
    - label: "CSDN"
      icon: "fa-solid fa-monkey"
      url: "https://blog.csdn.net/B33336"


footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/bfmhno3"
    - label: "Gitee"
      icon: "fa-solid fa-g"
      url: "https://gitee.com/bfmhno3"
    - label: "cnblogs"
      icon: "fa-solid fa-blog"
      url: "https://www.cnblogs.com/bfmhno3"
    - label: "CSDN"
      icon: "fa-solid fa-monkey"
      url: "https://blog.csdn.net/B33336"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
